<!DOCTYPE html>
<html>

<!-- right now im here, i should make a skeleton for easier navigation and adding views before proceeding-->

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://kit.fontawesome.com/d4fe87d88c.js" crossorigin="anonymous"></script>
    <script defer src="../javascripts/index.js"></script>
</head>

<body>
    <h2>
        Welcome to a website of the universe
    </h2>
    <section id="main-sextion">

        <div id="links-container">
            <div id="left-links">
                <a href="/marsRover">Mars rover images</a>
                <a href="/neoWs">Close asteroids</a>
                <a href="/marsWeather">Weather in mars</a>
            </div>

            <div>
                <img id="saturn-img" src="../images/saturnPNG.png" alt="">
            </div>

            <div id="right-links">
                <a href="/exploreMoon">Explore the moon</a>
                <a href="/images&videos">Image and video gallery</a>
                <a href="/dailyEarth">Daily earth</a>
            </div>
        </div>

        <div id="apod-container">
            <img src="" alt="">
            <p></p>
        </div>




    </section>


    <footer>
        <h5>About this project</h5>
        <h5>Built by Martin Zazpe</h5>
    </footer>
</body>

</html>